<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta name="page" content="consent">

	<title>YURT: IRB CONSENT</title>
	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">

	<!-- start Mixpanel -->
	<script type="text/javascript">
		(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("62577aa085e50a8abc114bf9a78d42de");
	</script>
	<!-- end Mixpanel -->
</head>

<body id="business" class="bodyfix">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#yurt-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div></a>
			</div>
			<!-- COLLAPSABLE NAV THINGS -->
			<div id="yurt-navbar-collapse" class="collapse navbar-collapse">
				<!-- LOGIN FORM -->
				<form class="navbar-form navbar-right" action="login" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Login</button>
				</form>
			</div>
		</div>
	</nav>

	<!-- START #app / Application -->
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="yurt-container">
					<!-- Header -->
					<div class="yurt-header">
						<h2>IRB Informed Consent<span class="pull-right"><a href="files/IRBInformedConsent.pdf" target="_blank">Download <i class="fa fa-file-pdf-o"></i></a></span></h2>
					</div>
					<!-- Main Content / Body -->
					<div class="yurt-body scrollable">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<h4>DESCRIPTION OF THE RESEARCH:</h4>
									<p>I am Jin Kuwata, currently a doctoral candidate in the Instructional Technology and Media program at Teachers College, Columbia University. If you are an adult of consenting age, you are invited to participate in a research study that investigates the process of relationship formation through collaboration around learning tasks.</p>
									<p>In this study, you will have an opportunity to learn about learning technology and design so that you can design a good learning app. You will create a short design pitch (a few sentences) for a learning app to the best of your ability. Then, you will improve the pitch by discussing it with a panel of technologists. No prior knowledge of technology, design, or learning sciences is necessary as the goal is to learn more, through conversations with others about your original ideas.</p>
									<p>Upon consent through this digital consent form, you will be redirected to a registration page where you will be prompted for your name, email, a password to log into the system, and be provided with a username for your account. After registration, you will be guided through several activities such as creation of your app pitch, a user profile, and some questionnaires regarding: demographic information, your attitudes, goals, background knowledge, and information provided through the application. Ultimately you will have a conversation with others. Throughout the process, interactions within the application will be logged.</p>
									<p>You'll have a chance to practice using the application before your conversation to familiarize yourself with the user interface. Furthermore, at this stage you'll get the chance to explore other user's profiles and submit your preferences of who you would like to have on your conversation panel via a "connection" request. You will be notified of the status of your request upon which the system will generate a panel and you will have a short conversation with said panel.</p>
									<p>Your total time commitment estimated for this research is approximately 1 hour.</p>
									<p>Participation in this research is completely voluntary. You may quit the study at any time and/or refuse to answer particular questions. This decision will not jeopardize you or your family's medical care, employment, student status, grades, or other entitlements such as remuneration for partial completion of the research study.</p>
									<h4>YOUR DATA AND CONFIDENTIALITY:</h4>
									<p>This research is conducted in the context of a social application. Therefore, some of your provided information will be shared with other participants involved in the study, as well as the researchers. This shared information is limited to: your name, profile information, pitch, conversational data, comment evaluations (e.g. upvotes, downvotes) and connection requests.</p>
									<p>All other information such as, but not limited to: your email, response to research questions, behavioral interactions logged by the system, will be kept strictly confidential.</p>
									<p>Data collected will be stored and kept on Parse.com, a server and database system with enterprise grade security. Connections to the application will use a secure socket layer to ensure confidential transactions between the user and system, researcher and data.</p>
									<p>Users will be asked to provide a password of minimum 8 characters configurable with a combination of alphanumeric, upper/lower, and symbol characters. User passwords are encrypted with one-way encryption and data associated with users will be protected with access control configurations limiting user's data write access only to the specific user and the researchers. The researchers will not have any ways of decrypting and knowing user passwords.</p>
									<p>Your data is linked to an internal, randomly produced identification code that obscures research data from personal identifiers such as your name and email, to the researcher. Upon completion of the data collection phase of this research, personal identifiers (i.e. name and email) will be dissociated from your research data. Researchers will remain blind as to which participants "own" specific usernames unless notified and disclosed by the participant. Thus, if you decide to withdraw from the study, you should inform the researcher of your unique, system provided username so that your data can be completely destroyed.</p>
									<p>A separate data table will be kept with personal identifiers (i.e. name and email). This information is dissociated from your research data and used for remuneration purposes and/or circumstances where the researcher deems it necessary to contact the participant. Due to this, while your identifiable information is not associated with specific research data, it will be temporarily associated with participation with this research until the research is complete and this information is destroyed.</p>
									<p>As with all Internet based applications and systems, complete confidentiality cannot be guaranteed. The risks associated with possible loss of confidentiality should be commensurate the risks associated with loss of confidentiality with other services and applications that follow industry standard security measures (e.g. google plus, twitter, facebook, etc.)</p>
									<h4>RISKS AND BENEFITS:</h4>
									<p>There are minimal risks associated with this study such as boredom, fatigue, and mild stress. They are normal risks similar to those associated with selecting an activity partner in a classroom social setting or sharing work with one's social peers. There are NO DIRECT BENEFITS to the participant in this study. However, participants may learn about user experience and how technologists implement design thinking when developing technology and learning applications.</p>
									<p>The contact information for the primary investigator is Jin Kuwata, jmk2142@tc.columbia.edu. Upon request, the researcher will withdraw the subject from the research. If requested, the user's data will be completely removed.</p>
									<p>If your needs extend beyond the capabilities of the project staff, the following are a list of clinics that deal with psychological and/or physical treatments.</p>
									<p>Columbia University Health Services (tel. 212-854-2284) The Columbia University Clinic for Anxiety and Related Disorders (tel. 212-246-5740)</p>
									<p>If at any time you have comments, or concerns regarding the conduct of the research or questions about your rights as a research subject, you should contact the Teachers College, Columbia University Institutional Review Board (IRB). The phone number for the IRB is (212) 678-4105. Or, you can write to the IRB at Teachers College, Columbia University, 525 W. 120th Street, New York, NY, 10027, Box 151.</p>
									<h4>PAYMENTS:</h4>
									<p>For completion of the study, participants will be included in a raffle for the opportunity to win one of several small gift sets (novelty stationary items from Japan). Estimated retail value of the largest prize is approximately $27 and the smallest prize is approximately $3. The odds of winning one of the prizes are approximately 25/100 to 25/120 (25% to 20.8%). Depending on final sample size. For partial participation in the study regardless of completion subjects will be given an early beta invitation to the next version of a social site, www.cogmos.com. Participants may opt out of the remuneration offers if so preferred.</p>
									<h4>TIME INVOLVEMENT:</h4>
									<p>Your participation will take approximately 1 hour.</p>
									<h4>HOW RESULTS WILL BE USED:</h4>
									<p>The results of the study will be used for educational purposes, both in academic writing and at professional meetings.</p>
									<hr>
									<h3>PARTICIPANT'S RIGHTS</h3>
									<h4>PRINCIPAL INVESTIGATOR:</h4>
									<p>Jin Kuwata, jmk2142@tc.columbia.edu</p>
									<h4>RESEARCH TITLE:</h4>
									<p>Relationship formation through collaboration around learning tasks</p>
									<h4>CONSENT:</h4>
									<p>I have read the Research Description online. I have had the opportunity to ask questions via contacting the researchers about the purposes and procedures regarding this study.</p>
									<p>My participation in this research is completely voluntary. I may refuse to participate or withdraw from participation at any time without jeopardy to future medical care, employment, student status or other entitlements.</p>
									<p>The researcher may withdraw me from the research at his/her professional discretion.</p>
									<p>If, during the course of the study, significant new information that has been developed becomes available which may relate to my willingness to continue to participate, the investigator will provide this information to me.</p>
									<p>Any information derived from the research project that personally identifies me will not be voluntarily released or disclosed without my separate consent, except as specifically required by law.</p>
									<p>If at any time I have any questions regarding the research or my participation, I can contact the investigator, who will answer my questions. The investigators’ email address is jmk2142@tc.columbia.edu and the phone number is (212) 678-8366.</p>
									<p>If my needs extend beyond the capabilities of the project staff, the following are a list of clinics that deal with psychological and/or physical treatments.</p>
									<p>Columbia University Health Services (tel. 212-854-2284) The Columbia University Clinic for Anxiety and Related
										<p>Disorders (tel. 212-246-5740)</p>
										<p>If at any time I have comments, or concerns regarding the conduct of the research or questions about my rights as a research subject, I should contact the Teachers College, Columbia University Institutional Review Board (IRB). The phone number for the IRB is (212) 678-4105. Or, I can write to the IRB at Teachers College, Columbia University, 525 W. 120th Street, New York, NY, 10027, Box 151.</p>
										<p>I should receive a copy of the Research Description and this Participant's Rights document.</p>
										<h4>DOCUMENTATION OF CONSENT (ONLINE):</h4>
										<p>If you have read this form and have decided to participate in this project, please understand that your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty. You have right to refuse to answer particular questions. Your individual privacy will be maintained in all published and written data resulting from the study.</p>
										<h4>IRB REFERENCE / APPROVAL</h4>
										<p>TEACHERS COLLEGE, COLUMBIA UNIVERSITY<br>INSTITUTIONAL REVIEW BOARD<br>
										Protocol # 15-329<br>
										Consent form approved until 7/8/16</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Footer / Actions -->
					<div class="yurt-footer">
						<form>
							<div class="form-group">
								<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal"><i class="fa fa-flask"></i>&nbsp;&nbsp;Continue to Registration</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<!-- REGISTRATION MODAL -->
		<div id="registerModal" class="modal fade" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Registration</h4>
					</div>

					<form class="form-horizontal" action="register" method="post">
						<div class="modal-body">
							<!-- LIVE BUTTON -->
								<!-- Username -->
								<div class="form-group">
									<label for="username" class="col-sm-3 control-label">Username</label>
									<div class="col-sm-9">
										<div class="input-group">
											<input id="username" type="text" class="form-control" name="username" value="<%= generated %>" placeholder="Retrieving..." readonly required>
											<span class="input-group-btn">
												<button id="getUsername" class="btn btn-primary" type="button"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Generate</button>
											</span>
										</div>
									</div>
								</div>
								<!-- Password -->
								<div class="form-group">
									<label for="password" class="col-sm-3 control-label">Password</label>
									<div class="col-sm-9">
										<input id="password" type="password" class="form-control" name="password" placeholder="Minimum 8 characters" required>
										<span class="help-block hidden">Password must be at least 8 characters, letters, numbers, or symbols.</span>
									</div>
								</div>
								<!-- Password - Confirmation -->
								<div class="form-group">
									<label for="confirm" class="col-sm-3 control-label">Retype</label>
									<div class="col-sm-9">
										<input id="confirm" type="password" class="form-control" name="confirm" placeholder="Retype Password" required>
										<span class="help-block hidden">Passwords must match.</span>
									</div>
								</div>
								<!-- First Name -->
								<div class="form-group">
									<label for="first" class="col-sm-3 control-label">First</label>
									<div class="col-sm-9">
										<input id="first" type="text" class="form-control" name="first" placeholder="First Name" required>
										<span class="help-block hidden">Please enter your first name.</span>
									</div>
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label for="last" class="col-sm-3 control-label">Last</label>
									<div class="col-sm-9">
										<input id="last" type="text" class="form-control" name="last" placeholder="Last Name" required>
										<span class="help-block hidden">Please enter your last name.</span>
									</div>
								</div>
								<!-- Email -->
								<div class="form-group">
									<label for="email" class="col-sm-3 control-label">Email</label>
									<div class="col-sm-9">
										<input id="email" type="email" class="form-control" name="email" placeholder="Email" required>
										<span class="help-block hidden">Please enter a valid email address.</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label"></label>
									<div class="col-sm-9">
										<div class="checkbox">
											<label>
												<input id="consent" type="checkbox" name="consent" value="true" required>
												<p>I have read the research description and give my consent to participate in this study.</p>
												<span class="text-danger hidden">You must indicate consent by checking the box on the left and clicking on the proceed to study button below. This means that you understand the above description and agree to participate in this study.</span>
											</label>
										</div>
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-success" value="Register &amp; Proceed to Study">
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- END #app -->
	</div>
	<!-- SCRIPTS -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="src/business/parseBlank.js"></script>
	<script src="src/business/pageTrack.js"></script>
	<script src="src/business/registration.js"></script>


</body>

</html>
