<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta name="sessionToken" content="<%= sessionToken %>">
	<title>YURT: DEBRIEF</title>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">
</head>

<body id="business" class="">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div></a>
			</div>
		</div>
	</nav>

	<!-- START #app / Application -->
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="yurt-container">
					<div class="yurt-header">
						<h2>IRB Debriefing <span class="pull-right"><a href="files/IRBDebriefing.pdf" target="_blank">Download <i class="fa fa-file-pdf-o"></i></a></span></h2>
					</div>
					
					<!-- IMPORTANT INFO -->
					<div class="yurt-body">
						<div class="row">
							<div class="col-md-12">
								<p class="lead">Thank you for your participation!</p>

								<p>Now that you've completed the study, you might be wondering about a few things. Here are the important points we can share with you now.</p><br>

								<div class="alert alert-info">
									<p><strong>Please note that in this study...</strong></p>
									<br>
									<ul>
										<li>Minor deception was utilized.</li>
										<li>Everyone was automatically rejected by their panelist.</li>
										<li>All panelists, dialogs, and other information were manufactured or scripted.</li>
									</ul>
									<br>
								</div>
								
								<p>In the following section, we will explain in detail how minor deception was utilized and the reasons why this deception was necessary in order to conduct this experiment. We will also explain how this affects the confidentiality of your data and participation.</p>

								<p>This concludes the research. Thank you once again for your participation.</p>

								<br>
							</div>
						</div>
					</div>
					<br>

					<!-- DEBRIEF OFFICIAL SCRIPT -->
					<div class="yurt-body scrollable">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<h4>Principal Investigator</h4>
									<p>Jin Kuwata, <a href="mailto:jmk2142@tc.columbia.edu?subject=YURT Research">jmk2142@tc.columbia.edu</a></p>

									<h4>Research Title</h4>
									<p>Relationship formation through collaboration around learning tasks</p>

									<h4>Further Description and Details of the Study</h4>
									<p>Thank you once again for participation in this study. As you may have noticed, there was no actual conversational activity included in this study. In this study, we were interested in investigating the process of relationship formation decisions around collaboration on learning tasks. Specifically, we were interested in observing behaviors and perceptions participants exhibited up to the relationship decisions.</p>
									
									<p>In the next section, we will explain in detail how minor deception was utilized and the reasons why this deception was necessary in order to conduct this experiment. We will also explain how this affects the confidentiality of your data and participation.</p>
									
									<p>Before proceeding, we would like to remind you that your participation is completely voluntary. You may withdraw your consent and participation in this study at any time, including withdrawal of your research data by contacting the principal investigator, Jin Kuwata <a href="mailto:jmk2142@tc.columbia.edu?subject=YURT Research">jmk2142@tc.columbia.edu</a>. This decision will not jeopardize you or your family's medical care, employment, student status, grades, or other entitlements such as remuneration for the research study.</p>

									<h4>Deception</h4>
									<p>First, you were told that you would be interacting with content generated by others and would choose relationships to form with real individuals. In actuality, all content that you interacted with (e.g. profile information, conversations, etc.) were scripted by the researchers. Furthermore, the other users portrayed in the experiment were also fabricated by the researchers. Thus, at no time were your interactions, data, etc. shared with anyone other than the researchers.</p>

									<p>The manufactured users and scripts were necessary to control for specific variables of interest and to elicit genuine responses toward relationship decisions.</p>

									<p>Second, you were told that your information (e.g. profile, app pitch, conversation, etc.) would be shared with other users in the social environment. In fact, no information that you have produced was shared with anyone other than the researchers. Furthermore, no information you have produced will be shared with others except for the researchers.</p>

									<p>Part of our study observes how the element of publicly shared information is perceived and factors into the participant's relationship formation process. Thus, this deception was necessary to make the perceived social outcomes real to the participant in order to measure genuine behaviors and decisions. Again, at no time was your information actually shared with anyone other than the researchers. Your information will be held in strict confidentiality. Please see section Update to your Data and Confidentiality for further details.</p>

									<h4>Disclosure of Study Aspects to Others</h4>
									<p>Because the deception is necessary aspect of this study, we would greatly appreciate it if you do not disclose the details of the study to others or the public. While we greatly appreciate this non-disclosure, it does not in any way obligate you or bind you to non-disclosure. This is not a non-disclosure agreement. Your decision to keep this study confidential (or not) is completely voluntary and will not jeopardize you or your family's medical care, employment, student status, grades, or other entitlements such as remuneration for the research study.</p>

									<h4>Update to your Data and Confidentiality</h4>
									<p>As explained prior, contrary to what you were originally led to believe — <strong>at no time was the information you provided public, nor will it be shared with others except for the researchers.</strong></p>

									<p>All information obtained in connection with this study will be kept strictly confidential.</p>

									<p>Data collected will be stored and kept on Parse.com, a server and database system with enterprise grade security. Connections to the application used a secure socket layer to ensure confidential transactions between the user and system, researcher and data.</p>

									<p>You were asked to provide a password of minimum 8 characters configurable with a combination of alphanumeric, upper/lower, and symbol characters. User passwords are encrypted with one-way encryption and data associated with users will be protected with access control configurations limiting user's data write access only to the specific user and the researchers. The researchers will not have any ways of decrypting and knowing user passwords.</p>

									<p>Your data is linked to an internal, randomly produced identification code that obscures research data from personal identifiers such as your name and email, to the researcher. Upon completion of the data collection phase of this research, personal identifiers (i.e. name and email) will be dissociated from your research data. Thus, your data will be anonymized. Researchers will remain blind as to which participants "own" specific usernames unless notified and disclosed by the participant. If you decide to withdraw from the study, you should inform the researcher of your unique, system provided username so that your data can be completely destroyed.</p>

									<p>A separate data table will be kept with personal identifiers (i.e. name and email). This information is dissociated from your research data and used for remuneration purposes and/or circumstances where the researcher deems it necessary to contact the participant. Due to this, while your identifiable information is not associated with specific research data, it will be temporarily associated with participation with this research until the research is complete and this information is destroyed.</p>

									<p>As with all Internet based applications and systems, complete confidentiality cannot be guaranteed. The risks associated with possible loss of confidentiality should be commensurate the risks associated with loss of confidentiality with other services and applications that follow industry standard security measures (e.g. google plus, twitter, facebook, etc.)</p>

									<p>If, during the course of the study, significant new information that has been developed becomes available which may relate to your willingness to continue to participate, the investigator will provide this information.</p>

									<h4>Risks and Benefits</h4>
									<p>There are minimal risks associated with this study such as boredom, fatigue, and mild stress. They are normal risks similar to those associated with selecting an activity partner in a classroom social setting or sharing work with one's social peers. There are NO DIRECT BENEFITS to the participant in this study. However, participants may learn about user experience and how technologists implement design thinking when developing technology and learning applications.</p>

									<p>The contact information for the primary investigator is Jin Kuwata, <a href="mailto:jmk2142@tc.columbia.edu?subject=YURT Research">jmk2142@tc.columbia.edu</a>. Upon request, the researcher will withdraw the subject from the research. If requested, the user's data will be completely removed.</p>

									<p>If your needs extend beyond the capabilities of the project staff, the following are a list of clinics that deal with psychological and/or physical treatments.</p>

									<ul>
										<li>Columbia University Health Services (tel. 212-854-2284)</li>
										<li>The Columbia University Clinic for Anxiety and Related Disorders (tel. 212-246-5740)</li>
									</ul>

									<p>If at any time you have comments, or concerns regarding the conduct of the research or questions about your rights as a research subject, you should contact the Teachers College, Columbia University Institutional Review Board (IRB). The phone number for the IRB is (212) 678-4105. Or, you can write to the IRB at Teachers College, Columbia University, 525 W. 120th Street, New York, NY, 10027, Box 151.</p>

									<h4>Thank You For your Participation</h4>
									<p>Once again, thank you very much for your participation. We greatly appreciate the time and effort you put into this study to help us understand this phenomenon. We are happy to share with you our findings once this study has been completed.</p>

									<p>
										Sincerely,<br>
										<br>
										Principal Investigator<br>
										<br>
										Jin Kuwata
									</p>

									<h4>IRB REFERENCE / APPROVAL</h4>
									<p>TEACHERS COLLEGE, COLUMBIA UNIVERSITY<br>INSTITUTIONAL REVIEW BOARD<br>
									Protocol # 15-329<br>
									Consent form approved until 7/8/16</p>
								</div>
							</div>
						</div>
					</div>
					<br>

					<!-- FEEDBACK -->
					<div class="yurt-body">
						<p class="lead">Would you like to leave feedback?</p>

						<form class="form">
							<div class="form-group">
								<label for="referral">How did you find out about this study? (optional)</label>
								<div class="input-group">
									<input id="referral" type="text" class="form-control" placeholder="Please enter referral source">
									<span class="input-group-btn"><button id="submitReferral" class="btn btn-default" type="button" disabled>Submit</button></span>
								</div>
								<p id="referralFeedback" class="help-block text-success fade">Successfully Saved</p>
							</div>

							<div class="form-group">
								<label for="bugReport">Technical issues, problems, bugs? (optional)</label>
								<div class="input-group">
									<input id="bugReport" type="text" class="form-control" placeholder="Please report any technical issues you may have encountered.">
									<span class="input-group-btn"><button id="submitBugReport" class="btn btn-default" type="button">Submit</button></span>
								</div>
								<p id="bugReportFeedback" class="help-block text-success fade">Successfully Reported</p>
							</div>

							<div class="form-group">
								<label for="feedback">Please leave any other comments you may have here. (optional)</label>
								<div class="input-group">
									<input id="feedback" type="text" class="form-control" placeholder="Please enter comments">
									<span class="input-group-btn"><button id="submitFeedback" class="btn btn-default" type="button" disabled>Submit</button></span>
								</div>
								<p id="feedbackFeedback" class="help-block text-success fade">Successfully Saved</p>
							</div>
						</form>
					</div>

					<div class="yurt-footer">
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<a href="/logout" class="btn btn-danger btn-lg btn-block">LOGOUT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	<!-- END #app -->
	</div>


	<!-- SCRIPTS -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>
	<script src="src/business/debrief.js"></script>
</body>

</html>