<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	
	<meta name="page" content="home">
	<meta name="version" content="default">

	<title>YURT: HOME</title>

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css'>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">

	<style>
/*		.yurt-container {
			background-color: rgba(255, 255, 255, .5);
			box-shadow: inset 0 0 1em white, 0 0 1em rgba(0, 0, 0, .3);
		}*/
	</style>
</head>

<!-- <body id="business" class="bodyfix"> -->
<body id="business" class="">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#yurt-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div>
				</a>
			</div>

			<!-- COLLAPSABLE NAV THINGS -->
			<div id="yurt-navbar-collapse" class="collapse navbar-collapse">
				<!-- LOGIN FORM -->
				<form class="navbar-form navbar-right" action="login" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Login</button>
				</form>
			</div>
			
		</div>
	</nav>

	<!-- START #home / Application -->
	<div id="home" class="home">

		<div class="layer-under">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="yurt-container jumbo">
							<h1>Welcome to <br/><span>YURT</span></h1>
							<div>
								<p>
									Do you want to help make better social apps?
								</p>
							</div>
							<div><a class="btn btn-primary btn-lg" href="consent" role="button">See Details / Participate</a></div>
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="layer-over">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="split-line">&nbsp;</div>
						
						<div>
							<h2>
							Online study on Social Collaboration: Learning by Design
							</h2>

							<!-- WHY -->
							<section>
								<p class="lead">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle-thin fa-stack-2x"></i>
										<i class="fa fa-users fa-stack-1x fa-shift-down-1"></i>
									</span>
									<br>
									<span>Let's make awesome social learning experiences!</span>
								</p>
								<p>
									We're passionate about creating great social learning experiences. That's why we want to understand how people collaborate with each other online.
								</p>
							</section>
							
							<!-- WHAT -->
							<section>
								<p class="lead">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle-thin fa-stack-2x"></i>
										<i class="fa fa-comments fa-stack-1x"></i>
									</span>
									<br>
									<span>Talk to experts. Learn about design.</span>
								</p>
								<p>
									Create a short pitch for a learning app. Collaborate with technologists to improve your pitch. No background in learning science, technology, or design is necessary.
								</p>
							</section>

							<!-- THANKS -->
							<section>
								<p class="lead">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle-thin fa-stack-2x"></i>
										<i class="fa fa-gift fa-stack-1x"></i>
									</span>
									<br>
									<span>A gift for your generous support.</span>
								</p>
								<p>
									For completion of the study, we're raffling off some unique Japanese stationery goods. Cute / cool magnets that sticks to any surface (wood, glass; really!) See video for details.
								</p>
							</section>
							
							<!-- HOW -->
<!-- 							<section>
								<p class="lead">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle-thin fa-stack-2x"></i>
										<i class="fa fa-heart fa-stack-1x fa-shift-down-3"></i>
									</span>
									<br>
									<span>Ready to participate?</span>
								</p>
								<p>
									Please reserve approximately 1 hour to complete the study. To participate, just click the button below. Formal description and consent forms will follow.
								</p>
							</section> -->
						</div>
					</div>
				</div>
			</div>	
		</div>

		<div class="layer-under">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="layer-over highlight">
							<div class="row">
								<div class="col-md-12">
									<p class="lead">
										<span class="fa-stack fa-2x">
											<i class="fa fa-circle-thin fa-stack-2x"></i>
											<i class="fa fa-heart fa-stack-1x fa-shift-down-3"></i>
										</span>
										<br>
										<span>Ready to participate or want to learn more?</span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<div class="thumbnail">
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nuHfVn_cfHU" allowfullscreen></iframe>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<p>
										Please reserve approximately <em>one</em> hour to complete the study. To participate or learn more, just click the button below. Formal description and consent forms will follow.
									</p>
									<br>
									<div><a class="btn btn-primary btn-lg" href="consent" role="button">See Details / Participate</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="layer-over">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="split-line">&nbsp;</div>
						<p>This study has been approved by Teachers College, Columbia University IRB: Protocol #15-329.
						<br>
						For more information, <strong><a href="consent">click here</a></strong>.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>
	<script src="src/business/parseBlank.js"></script>
	<script src="src/business/pageTrack.js"></script>
</body>

</html>
