<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<title>YURT: LOGIN</title>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">
</head>

<body class="bodyfix">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div></a>
			</div>

			<!-- COLLAPSABLE NAV THINGS -->
			<div class="collapse navbar-collapse">
				<!-- STUFF -->
			</div>
		</div>
	</nav>

	<!-- START #app / Application -->
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="page-header">
					<h1>Login</h1>	
				</div>
				
				
				<!-- Login Form -->
				<form action="login" method="POST">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>

			</div>
		</div>
	
	<!-- END #app -->
	</div>

</body>

</html>
