<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<title>YURT: MOBILE WARNING</title>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">
	
</head>

<body id="business">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div></a>
			</div>

			<!-- COLLAPSABLE NAV THINGS -->
			<div class="collapse navbar-collapse">
				<!-- LOGIN FORM -->
				<form class="navbar-form navbar-right" action="login" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Login</button>
				</form>
			</div>
		</div>
	</nav>

	<!-- START #app / Application -->
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h3>We detected a mobile device...</h3>
				</div>
				<p>Oops! Looks like you're using a <strong>mobile device</strong>. For this study we require that you use a larger viewing surface such as a desktop, laptop, or tablet.</p>
				<p>You've been registered however, so all you have to do is log back in on an appropriate machine.</p>
				<p>Thanks for your understanding.</p>
			</div>
		</div>

	<!-- END #app -->
	</div>

</body>

</html>
