<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<title>YURT: REGISTRATION</title>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">
</head>

<body id="business" class="bodyfix">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div></a>
			</div>
		</div>
	</nav>

	<!-- Application -->
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="yurt-container">
					<div class="yurt-header">
						<h2>Registration</h2>
					</div>
					<div class="yurt-body">
						<div class="row">
							<div class="col-md-12">
								<!-- LIVE BUTTON -->
								<form class="form-horizontal" action="register" method="post">

									<div id="errorMsg" class="alert alert-danger" role="alert"><%= error.message %></div>

									<!-- Username -->
									<div class="form-group">
										<label for="username" class="col-sm-3 control-label">Username</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input id="username" type="text" class="form-control" name="username" value="<%= username %>" placeholder="Retrieving..." readonly required>
												<span class="input-group-btn">
													<button id="getUsername" class="btn btn-default" type="button"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Generate</button>
												</span>
											</div>
										</div>
									</div>

									<!-- Password -->
									<div class="form-group">
										<label for="password" class="col-sm-3 control-label">Password</label>
										<div class="col-sm-9">
											<input id="password" type="password" class="form-control" name="password" placeholder="Minimum 8 characters" required>
											<span class="help-block hidden">Password must be at least 8 characters, letters, numbers, or symbols.</span>
										</div>
									</div>

									<!-- Password - Confirmation -->
									<div class="form-group">
										<label for="confirm" class="col-sm-3 control-label">Retype</label>
										<div class="col-sm-9">
											<input id="confirm" type="password" class="form-control" name="confirm" placeholder="Retype Password" required>
											<span class="help-block hidden">Passwords must match.</span>
										</div>
									</div>

									<!-- First Name -->
									<div class="form-group">
										<label for="first" class="col-sm-3 control-label">First</label>
										<div class="col-sm-9">
											<input id="first" type="text" class="form-control" name="first" placeholder="First Name" value="<%= first %>" required>
											<span class="help-block hidden">Please enter your first name.</span>
										</div>
									</div>

									<!-- Last Name -->
									<div class="form-group">
										<label for="last" class="col-sm-3 control-label">Last</label>
										<div class="col-sm-9">
											<input id="last" type="text" class="form-control" name="last" placeholder="Last Name" value="<%= last %>" required>
											<span class="help-block hidden">Please enter your last name.</span>
										</div>
									</div>

									<!-- Email -->
									<div class="form-group">
										<label for="email" class="col-sm-3 control-label">Email</label>
										<div class="col-sm-9">
											<input id="email" type="email" class="form-control" name="email" placeholder="Email" value="<%= email %>" required>
											<span class="help-block hidden">Please enter a valid email address.</span>
										</div>
									</div>


									<div class="form-group">
										<label class="col-sm-3 control-label"></label>
										<div class="col-sm-9">
											<div class="checkbox">
												<label>
													<input id="consent" type="checkbox" name="consent" value="true" required>
													<p>I have read the research description and give my consent to participate in this study.</p>
													<span class="text-danger hidden">You must indicate consent by checking the box on the left and clicking on the proceed to study button below. This means that you understand the above description and agree to participate in this study.</span>
												</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label"></label>
										<div class="col-sm-9">
											<input type="submit" class="btn btn-success" value="Register &amp; Proceed to Study">		
										</div>
									</div>

								</form>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
		
	</div>


	<!-- SCRIPTS -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	<script src="src/business/registration.js"></script>

</body>

</html>
