<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta name="sessionToken" content="<%= sessionToken %>">
	<title>YURT: SUMMARY</title>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/business/styles.css">
</head>

<body class="bodyfix">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><div class="brand-sprite y-brand-<%= version %>"></div></a>
			</div>

			<!-- COLLAPSABLE NAV THINGS -->
			<div class="collapse navbar-collapse">
				
				<!-- LOGOUT FORM -->
				<form class="navbar-form navbar-right">
					<a href="logout" class="btn btn-default">Logout</a>
				</form>
			</div>
		</div>
	</nav>



	<!-- START #app / Application -->
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="yurt-container">
					<!-- Header -->
					<div class="yurt-header">
						<h2>Summary</h2>
					</div>
					<!-- Main Content / Body -->
					<div class="yurt-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<p class="lead">Thank you for participating in this study!</p>
									<p>You can find downloadable PDF versions of the consent and debriefing forms below. If you have any other questions, please feel free to contact the principal investigator:<br><br>Jin Kuwata: <a href="mailto:jmk2142@tc.columbia.edu?subject=YURT Research">jmk2142@tc.columbia.edu</a></p>
									<br>

									<p class="lead">Were you referred to this study?</p>
									<form class="form">
										<div class="form-group">
											<label for="referral">How did you find out about this study? (optional)</label>
											<div class="input-group">
												<input id="referral" type="text" class="form-control" placeholder="Please enter referral source">
												<span class="input-group-btn"><button id="submitReferral" class="btn btn-primary" type="button" disabled>Submit</button></span>
											</div>
											<p id="referralFeedback" class="help-block text-success fade">Successfully Saved</p>
										</div>
									</form>
									<br>

									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">File Downloads</h3>
										</div>
										<div class="panel-body">
											<p><a href="/files/IRBInformedConsent.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;IRB Informed Consent Form</a></p>
											<p><a href="/files/IRBDebriefing.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;IRB Debriefing Form</a></p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END #app -->
	</div>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>
	<script src="src/business/debrief.js"></script>
</body>

</html>