$base-color: #29ABE2;

@mixin yurt-gradient($color) {
	$hue: hue($color) + 6;
	$saturation: saturation($color) + 24;
	$lightness: lightness($color) - 15;


	// $saturation: if($saturation > 100, 100, $saturation);


	@if $saturation > 100 {
		$saturation: 100;
	} @else {
		$saturation: $saturation;
	}


	background-image: linear-gradient(0deg, hsl($hue, $saturation, $lightness), $color);
}
// target darker gradient blue #0071BC

// Static Top Navbar offset
// $yurt-gradient-dark:#0071BC;
// $yurt-gradient-light:#29ABE2;

// $yurt-gradient-base: #29ABE2;

html {  
	height: 100%;

	// PRODUCTION COLORS
	@include yurt-gradient($base-color);

	// TEST COLORS
	// @include yurt-gradient(#E5E5E5);

	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	padding-top: $body-padding-top;
	background-color:transparent;
}

// Fix Bootstrap button height in chrome input-group-btn
.input-group-btn {
	.btn {
		line-height: 1.4300;
	}
}

// Some extra spacing for content in navbar dropdown items
.navbar {
	// background-color:#00aeef;

	&.navbar-fixed-top {
		  z-index: 199;
	}

	.dropdown-menu {
		
		z-index: 202;

		> h5 {
			padding: 0 20px;
		}
		> p {
			padding: 0 20px;
			width: 300px;
		}
	}
}

// Generic Sprite Inclusion Mixin
// @include all-brand-sprites;
.y-brand-1 {
	@include brand-sprite(one);
}

.y-brand-2 {
	@include brand-sprite(two);
}

.y-brand-3 {
	@include brand-sprite(three);
}

.y-brand-4 {
	@include brand-sprite(four);
}

.y-brand-5 {
	@include brand-sprite(five);
}

.y-brand-6 {
	@include brand-sprite(six);
}

.y-brand-7 {
	@include brand-sprite(seven);
}

.y-brand-8 {
	@include brand-sprite(eight);
}

.y-brand-9 {
	@include brand-sprite(nine);
}

.navbar {
	border: none;
	box-shadow: $yurt-box-shadow;

	&.noShadow {
		box-shadow: none;	
	}
}

.navbar-brand {
	padding: 0;
}

.brand-sprite {
	width: 50px;
	height: 50px;
}

.label-basic {
	background-color: #FFFFFF;
	color: #333;
}



// FONTAWESOME ADJUST
.fa-stack {
	.fa-shift-down-1 { margin-top: 1px; }
	.fa-shift-down-2 { margin-top: 2px; }
	.fa-shift-down-3 { margin-top: 3px; }
	.fa-shift-down-4 { margin-top: 4px; }
	.fa-shift-down-5 { margin-top: 5px; }
	.fa-shift-up-1 { margin-top: -1px; }
	.fa-shift-up-2 { margin-top: -2px; }
	.fa-shift-up-3 { margin-top: -3px; }
	.fa-shift-up-4 { margin-top: -4px; }
	.fa-shift-up-5 { margin-top: -5px; }
}


