// .modal-content > .yurt-container {
// 	padding: 0;
// }

// One possibility of organizing code, by components
.yurt-container {
	background-color: #EEE;
	padding: 20px 20px 30px 20px;

	// This rule should only be applied in a specific context
	// Otherwise applies to all yurt-containers
	// text-align: center;

	// Adjacent same rule SASS shortcut
	& + & {
		border-top: 1px solid #DDD;
	}
}

.yurt-header {
	padding-bottom: 20px;
	text-align: left;

	> h2 {
		color:#777;
		text-align: left;
		margin-top: 5px;
		margin-bottom:15px;
		// padding-top: 10px;
	}

	.page-instructions {
		color:#777;
		font-size: 16px;
	}
}

.yurt-body {
	margin: 0px auto;
	background-color: #fff;
	border-radius: 15px;
	padding: 15px 15px 5px 15px;

	// This rule should only be applied in a specific context
	// Otherwise applies to all yurt-containers
	// text-align: center;

	&.split {
		font-size: 18px;

		padding: 0;
		// display: flex;
		// flex-direction: column;

		.userIcon {
			margin-right: 15px;
		}

		> div { // ROW
			display: flex;
			flex-direction: row;
			text-align: center;
			line-height: 40px;

			&.row-header {
				font-weight: bold;
			}
			
			// outline: 1px solid pink;
			&:first-child {
				> div {
					padding-top: 5%;	
				}
			}
			&:last-child {
				> div {
					padding-bottom: 10%;
				}
			}

			> div { // 50/50

				&.user {
					display: flex;
					> div:first-child {
						margin-left: 5%;
						// background-color: pink;
					}

					@media (min-width: $screen-xs-min) {
						> div:first-child {
							margin-left: 10%;
							// background-color: silver;
						}
					}
					@media (min-width: $screen-sm-min) {
						> div:first-child {
							margin-left: 15%;
							// background-color: red;
						}
					}
					// @media (min-width: $screen-md-min) {
					// 	> div:first-child {
					// 		margin-left: 30%;
					// 		// background-color: brown;
					// 	}
					// }
					.name {
						// line-height: 40px;
					}
				}

				width: 100%;

				&:first-child {
					border-right: 2px solid #EEE;
				}
				&:last-child {
					border-left: 2px solid #EEE;
					padding-bottom: 30px;
				}

				&.right,&.selection {
					display: flex;
					flex-direction: row;
					
					

					> div {
						width: 100%;
					}
				}

			}
		}

		// > .row-body {
		// 	display: flex;
		// }
	}

	.page-header {
		margin-top: 5px;
		// margin-bottom: 20px;

		>h3 {
			margin-top: 0px;
		}
	}
}

.yurt-footer {
	margin-top: 20px;
	text-align: center;
}

// There is a helper function called .text-center which is part
// of Bootstrap - we can just apply that as needed since centered
// is not the most common scenario.

