.carousel-control {
	&.right {
		background-image: linear-gradient(to right, rgba($color-yurt-a, 0.0001) 0%, rgba($color-yurt-a, 0.5) 100%);
	}
	&.left {
		background-image: linear-gradient(to right, rgba($color-yurt-a, 0.5) 0%, rgba($color-yurt-a, 0.0001) 100%);
	}
	.fa {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		z-index: 5;
		display: inline-block;
	}
}


