// Body padding top for fixed top nav
$body-padding-top: 100px;

$color-yurt-a: rgb(46,63,80);	// cogmos dark blue
$color-yurt-b: rgb(110,189,221);	// cogmos light blue
$color-yurt-c: rgb(239,71,76);	// cogmos red
$color-yurt-d: rgb(209,192,175);	// beige
$color-yurt-e: rgb(11,183,178);	// aqua
$color-yurt-f: rgb(146,66,33);	// brown
$color-yurt-g: rgb(51,102,153);	// swedish blue
$color-yurt-h: rgb(255,205,5); // swedish yellow
$color-yurt-i: rgb(51,51,51); // charcoal
$color-yurt-j: rgb(255,255,255); // white

$yurt-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .35);