<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Account Section</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut officiis maiores quasi non a et neque iusto doloribus eos saepe! Dolor, soluta, consectetur? Natus facilis laboriosam eos mollitia, expedita illo?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut officiis maiores quasi non a et neque iusto doloribus eos saepe! Dolor, soluta, consectetur? Natus facilis laboriosam eos mollitia, expedita illo?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut officiis maiores quasi non a et neque iusto doloribus eos saepe! Dolor, soluta, consectetur? Natus facilis laboriosam eos mollitia, expedita illo?</p>			
	</div>
</div>