<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p>
						<!-- <h5>Let's practice</h5> -->
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sed iure porro dolores saepe quisquam amet et, unde nam distinctio est sequi eum eligendi, labore vero id vel quaerat repudiandae.
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sed iure porro dolores saepe quisquam amet et, unde nam distinctio est sequi eum eligendi, labore vero id vel quaerat repudiandae.
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sed iure porro dolores saepe quisquam amet et, unde nam distinctio est sequi eum eligendi, labore vero id vel quaerat repudiandae.
						</p>
					</div>
				</div>
			</div>

			<!-- <div class="carousel-caption">
				<h3>Conversation Page</h3>
				<p>Some stuff goes here</p>
			</div> -->
		</div>
		<div class="item">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="thumbnail">
							<img src="../images/modal_2.png">
						</div>
						<ul>
							<li>Click name to read the other users' profile</li>
							<li>Click to up/down vote</li>
							<li>Leave a reply</li>
							<li>Leave your comment</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- <div class="carousel-caption">
				<h3>Profile Page</h3>
				<p>Some stuff goes here</p>
			</div> -->
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="fa fa-2x fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="fa fa-2x fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>