<div class="comment-content pull-left">
	<a data-target="author" data-section="self-profile"><%= author %></a><span class="comment-message"><%= message %></span>	
</div>
<div class="comment-actions pull-right">
	<i class="fa fa-lg fa-remove"></i>
</div>
