<div class="row">

	<div class="col-md-8 col-md-offset-2">

		<div class="yurt-container">

			<div class="yurt-header">
				<h2>Hello <%= first %> <%= last %>,</h2>
			</div>

			<div class="yurt-body">
				<div class="page-header">
					<h3>Basic Instructions</h3>	
				</div>

				<p>For this study, we're interested in investigating the process of relationship formation through collaboration around learning tasks.</p>
				
				<p>You will have an opportunity to learn about learning technology and design so that you can design a good learning app. You will create a short design pitch (a few sentences) for a learning app to the best of your ability. Then, you will improve the pitch by discussing it with a panel of technologists. The goal is to learn more, through conversations with others about your original ideas.</p>
				
				<p>In the <strong>bottom right corner</strong> we'll give you a summary of the tasks you need to complete on any particular section of this social app. We'll guide you through the process each step of the way. So if you're ready to begin, click on the "Proceed" button to move onto the next step.</p>
				
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Your username is&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<strong><%= username %></strong><span class="pull-right"><i class="fa fa-warning"></i>&nbsp;&nbsp;IMPORTANT</span></h3>
					</div>
					<div class="panel-body">
						<p><strong>Please remember your username and/or store it in a secure place for future reference.</strong></p>

						<p>We will anonymize identifiable information (e.g. name, email, etc.) and separate such information from your research data to maintain anonymity.</p>
						
						<p>The researchers will not know which data is yours unless you reveal your randomly generated, secret username. Therefore if you want to remove your data from the study later, you must provide researchers with your secret username.</p>
					</div>
				</div>
			</div>

<!-- 			<div class="yurt-footer">
				<div class="form-group">
					<button id="next" class="btn btn-lg btn-success">Proceed</button>
				</div>
			</div> -->

		</div>

		<!-- RESEARCH NAVIGATION -->
		<div class="researchNav">
			<div class="heading">Basic Instructions</div>
			<div class="body">
				<ol>
					<li>Read the instructions above</li>
					<li>Proceed to the first questionnaire</li>
				</ol>
			</div>
			<div class="actions clearfix">
				<div class="pull-right">
					<!-- <button id="help" type="button" class="btn btn-info">Help&nbsp;&nbsp;<span class="fa fa-question-circle"></span></button> -->
					<button id="next" class="btn btn-success">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
				</div>

			</div>
		</div>

	</div>
</div>