<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"><%= title %></h4>
</div>
<div class="modal-body">
	<%= body %>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" data-section="<%= backToSection %>">Close</button>
	<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>