<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="yurt-container">
			<div class="yurt-header">
				<h2>Connection Request</h2>
			</div>
			<div class="yurt-body">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger">
							<span class="userIcon icon-color-<%= selected.color %>"><%= selected.initials %></span>&nbsp;&nbsp;<strong><%= selected.fullName %></strong> has declined your request
						</div>

						<div id="questionItem">
							<!-- Question Here -->
						</div>

						<div class="alert alert-info">
							<h4>Why was my request declined?</h4>
							<p>There are a variety of reasons why a panelist might have declined your connection request.</p>
							<p>Panelists must make decisions about incoming requests based on; <em>1) your app pitch</em> and <em>2) your profile.</em> This does not mean your pitch and/or profile was bad. Pitches and profiles are usually interesting and thoughtful. However, one reason why the connection may have been declined is that while your pitch/profile may not seem particularly bad, a sufficient number of other pitches/profiles seemed particularly good.</p>

							<p>There are limits to the number of conversations a panelist can commit to take part in. And there are far fewer panelist than there are participants. Your pitch &amp; profile may have had nothing specifically wrong, but only pushed down by other pitch &amp; profiles that were particularly stellar.</p>
							<br>
						</div>
					</div>
				</div>
			</div>
			<!-- 			<div class="yurt-footer">
				<div class="form-group">
					<button id="next" class="btn btn-lg btn-success">Next</button>
				</div>
			</div> -->
		</div>
		<!-- RESEARCH NAVIGATION -->
		<div class="researchNav">
			<div class="heading">Conversation Options</div>
			<div class="body">
				<ol>
					<li>Select an option for your conversation.</li>
					<li>Then, proceed to the next step.</li>
				</ol>
			</div>
			<div class="actions clearfix">
				<div class="pull-right">
<!-- 					<button id="next" class="btn btn-success">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button> -->

					<a id="next" href="complete" class="btn btn-success">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
