<!-- <div class="info">
	<div class="userIcon icon-color-<%= color %>"><%= initials %></div><span class="name"><a class="profile" data-target="#" data-profile="<%= code %>"><%= name %><%= code === 'SUB' ? ' [ subject ]' : '' %></a></span><span class="actions pull-right"><a class="vote" data-valence="up" data-target="#"><i class="fa fa-fw fa-lg fa-thumbs-up fa-flip-horizontal"></i></a>&nbsp;&nbsp;<a class="vote" data-valence="down" data-target="#"><i class="fa fa-fw fa-lg fa-thumbs-down"></i></a></span>
</div> -->
<div class="info">
	<div class="userIcon icon-color-<%= color %>"><%= initials %></div>
	<% if (code === 'SUB') { %>
		<div class="yurt-label icon-color-<%= color %>">Participant</div>
	<% } else { %>
		<div class="yurt-label yurt-label-panelist">Panelist</div>
	<% } %>
	&nbsp;&nbsp;&nbsp;<span class="name"><a class="profile" data-target="#" data-profile="<%= code %>"><%= name %></a></span><span class="actions pull-right"><a class="vote" data-valence="up" data-target="#"><i class="fa fa-fw fa-lg fa-thumbs-up fa-flip-horizontal"></i></a>&nbsp;&nbsp;<a class="vote" data-valence="down" data-target="#"><i class="fa fa-fw fa-lg fa-thumbs-down"></i></a></span>
</div>
<div class="message">
	<p><%= content %></p>
</div>
<div class="comments"></div>
<div class="actions">
	
	<a class="cancel hidden" data-target="#"><strong>Cancel</strong></a><a class="submit hidden" data-target="#"><strong>Submit</strong></a>

	<a class="reply" data-target="#"><strong>Comment</strong></a>
</div>
