<div class="row">
	<div class="col-md-12">
		<p class="lead">What is the profile?</p>
		<p>Your social profile is how other users will get to know about your app idea and who you are. The profile consists of three parts: 1) your app pitch, 2) some personal information, and 3) information about your knowledge &amp; experience.</p>
		<p>Your app pitch will be the center of conversation, which your panel will discuss with you and provide feedback. The personal and knowledge information of your social profile will give other's a better understanding of what kind of person you are.</p>
		<br>

		<div class="lead">Create an App Pitch &amp; Profile</div>
		<p>Design and create a pitch for a learning app to the best of your ability. Complete the personal and knowledge sections of your profile to tell others a little more about yourself. Details are provided in each section to help you create your profile.</p>
		<br>

		<div class="lead">Application Interface</div>
		<div class="alert alert-info">
			<h5><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;TIPS:</h5>
			<ul>
				<li>Your profile information is automatically saved.</li>
				<li>Click on the <em>tabs</em> [ <span class="label label-default">App Pitch</span>, <span class="label label-default">Personal</span>, <span class="label label-default">Knowledge</span> ] to switch profile sections.</li>
				<!-- <li>Confirmation appears in the <em>upper-left</em> portion of the top navbar.</li> -->
				<li>Click the <span class="label label-info">Help <i class="fa fa-question-circle"></i></span> button in the <em>lower-right</em> corner to see this dialog again.</li>
				<li>Click the <span class="label label-success">Proceed <i class="fa fa-arrow-circle-right"></i></span> button when your social profile is complete</li>
			</ul>
			<br>
		</div>
		
	</div>
</div>


