<ul id="self-profileTabs" class="nav nav-tabs nav-justified profileTabs">
	<li class="active">
		<a data-target="#self-pitch" data-section="self-pitch" data-context="<%= firstProfile ? 'initial' : 'social' %>">App Pitch</a>
	</li>
	<li>
		<a data-target="#self-personal" data-section="self-personal" data-context="<%= firstProfile ? 'initial' : 'social' %>">Personal</a>
	</li>
	<li>
		<a data-target="#self-knowledge" data-section="self-knowledge" data-context="<%= firstProfile ? 'initial' : 'social' %>">Knowledge</a>
	</li>
</ul>

<div class="yurt-container">
	<div class="yurt-body">

		<div class="tab-content">
			<div id="self-pitch" role="tabpanel" class="tab-pane active">
				<div class="page-header">
					<h4>If you could design and create an app for learning, what would it be like?</h4>
				</div>
				<p>This is your chance to come up with a design for a new learning app and pitch it to others. To the best of your ability, create a short design pitch that describes and explains your app idea to others below.</p>
				<br>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="alert alert-info">
							<h5><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Tips and Suggestions</h5>
							<ul>
								<li>Imagine you had one minute to describe and explain your idea.</li>
								<li>Feel free to be as creative with your design as you see fit.</li>
								<li>Your pitch will be shared with a panel of technology &amp; design panelists.</li>
								<li>You'll learn about technology &amp; design through the feedback you receive in your conversation later.</li>
							</ul>
							<br>
						</div>
					</div>
				</div>


				<br>
				<form>
					<div class="form-group">
						<label for="profile-pitch">My App Pitch</label>
						<textarea id="profile-pitch" class="form-control" rows="10" data-context="<%= firstProfile ? 'initial' : 'social' %>" placeholder="Enter your app pitch here."></textarea>
					</div>
				</form>
			</div>
			<div id="self-personal" role="tabpanel" class="tab-pane">
				<div class="page-header">
					<h4>Tell others about your personal side...</h4>
				</div>
				<p>The purpose of this section is to give other's a richer description of who you are. Breifly describe some of your hobbies, social attitudes and/or beliefs, and personal qualities.</p>
				<br>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="alert alert-info">
							<h5><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Tips and Suggestions</h5>
							<ul>
								<li>Potential panelists will read your profile before deciding to participate in your conversation.</li>
							</ul>
							<br>
						</div>
					</div>
				</div>

				<br>
				<form>
					<div class="form-group">
						<label for="profile-hobby">My Hobbies</label>
						<textarea id="profile-hobby" class="form-control" rows="4" data-context="<%= firstProfile ? 'initial,hobby' : 'social,hobby' %>" placeholder="E.g. I like to dance..."></textarea>
					</div>
					<div class="form-group">
						<label for="profile-attitude">My Social Attitudes &amp; Beliefs</label>
						<textarea id="profile-attitude" class="form-control" rows="4" data-context="<%= firstProfile ? 'initial,attitude' : 'social,attitude' %>" placeholder="E.g. I believe health insurance is a universal right..."></textarea>
					</div>
					<div class="form-group">
						<label for="profile-trait">My Personal Characteristics &amp; Traits</label>
						<textarea id="profile-trait" class="form-control" rows="4" data-context="<%= firstProfile ? 'initial,trait' : 'social,trait' %>" placeholder="E.g. I'm a spontaneous individual..."></textarea>
					</div>
				</form>
			</div>
			<div id="self-knowledge" role="tabpanel" class="tab-pane">

				<div class="page-header">
					<h4>Tell others about what you know well...</h4>
				</div>
				<p>Breifly describe to others what you know a lot about and any related experiences you'd like to share.</p>
				<br>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="alert alert-info">
							<h5><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Tips and Suggestions</h5>
							<ul>
								<li>Describe your education and professional history. Feel free to include your professional or academic interests.</li>
								<li>The knowledge and experience you share <em>does not</em> have to be a formal experience (e.g. college, work, etc.)</li>
								<li>Potential panelists will read your profile before deciding to participate in your conversation.</li>
							</ul>
							<br>
						</div>
					</div>
				</div>

				<br>
				<form>
					<div class="form-group">
						<label for="profile-knowledge">My Knowledge &amp; Experience</label>
						<textarea id="profile-knowledge" class="form-control" rows="10" data-context="<%= firstProfile ? 'initial' : 'social' %>" placeholder="E.g. I have a degree in... I currently work at... etc."></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>