<!-- PROFILE MAKE PAGE -->
<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<!-- NAVIGATION SOCIAL APP -->
		<div class="socialNav">
			<div class="userIcon icon-color-0"><%= initials %></div>
			<span class="title text-center"><%= name %> Profile</span>
		</div>

		<!-- Profile Editor here -->
		<div id="selfProfile">
			<!-- #myProfile goes here -->
		</div>

		<!-- RESEARCH NAVIGATION -->
		<div class="researchNav">
			<div class="heading">Create your pitch &amp; profile</div>
			<div class="body">
				<ol>
					<li>Create a brief design pitch</li>
					<li>Create profile about yourself</li>
					<li>Proceed when your social profile is complete</li>
				</ol>
			</div>
			<div class="actions clearfix">
				<div class="pull-right">
					<button id="help" type="button" class="btn btn-info">Help&nbsp;&nbsp;<span class="fa fa-question-circle"></span></button>
					<button id="next" class="btn btn-success">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>