<!--
	Not in this file... but the parent <div> of all this
	is the .qSection div. This template is just the conents.
-->

<!-- REDUNDANT wrapper, we can get rid of this part... -->
<!-- <div style="background-color:pink;"> -->
<!-- <style>
	.qSection .userReference {
		  /*margin: 10px 0px 10px 0px;*/
		  border-bottom: solid 1px #ccc;
		  padding: 0 0 15px 0;
		  margin-bottom: 15px;
	}

	.sectionContent p {
		margin: 0px;
	}
</style>
 -->
 <div>

<!-- UNCERTAINTY SELECTED -->
<% if (section === 'uncertaintyS') { %>

	<div class="alert alert-success">
		<div class="userReference">
			<span class="userIcon icon-color-<%= color %>"><%= initials %></span>&nbsp;&nbsp;<strong><%= first %> <%= last %></strong> was the panelist you selected.
		</div>
		<div class="sectionContent">
			<p>Based on the information provided through the application, please indicate the likelihood and direction of the following statements to best represent your thoughts about the panelist.</p>
			<p>For the panelist I <strong>SELECTED</strong>...</p>
		</div>
	</div>

<!-- UNCERTAINTY BLOCKED -->
<% } else if (section === 'uncertaintyB') { %>

	<div class="alert alert-danger">
		<div class="userReference">
			<span class="userIcon icon-color-<%= color %>"><%= initials %></span>&nbsp;&nbsp;<strong><%= first %> <%= last %></strong> was the panelist you blocked.
		</div>
		<div class="sectionContent">
			<p>Based on the information provided through the application, please indicate the likelihood and direction of the following statements to best represent your thoughts about the panelist.</p>
			<p>For the panelist I <strong>BLOCKED</strong>...</p>
		</div>
	</div>


<!-- INFORMATION SELECTED -->
<% } else if (section === 'informationS') { %>

	<div class="alert alert-success">
		<div class="userReference">
			<span class="userIcon icon-color-<%= color %>"><%= initials %></span>&nbsp;&nbsp;<strong><%= first %> <%= last %></strong> was the panelist you selected.
		</div>
		<div class="sectionContent">
			<p>For each information section, please rate how positively or negatively you perceived the information provided by the panelist you <strong>SELECTED</strong>.</p>
		</div>
	</div>


<!-- INFORMATION BLOCKED -->
<% } else if (section === 'informationB') { %>

	<div class="alert alert-danger">
		<div class="userReference">
			<span class="userIcon icon-color-<%= color %>"><%= initials %></span>&nbsp;&nbsp;<strong><%= first %> <%= last %></strong> was the panelist you blocked.
		</div>
		<div class="sectionContent">
			<p>For each information section, please rate how positively or negatively you perceived the information provided by the panelist you <strong>BLOCKED</strong>.</p>	
		</div>
	</div>
	

<!-- THEORY INTELLIGENCE -->
<% } else if (section === 'theoryINT') { %>
	<div class="alert alert-info">
		<p>The following questions have been designed to investigate ideas about intelligence. There are no right or wrong answers. We are interested in your ideas.</p>
		<p>Using the scale below, please indicate the extent to which you agree or disagree with each of the following statements by writing the number that corresponds to your opinion in the space next to each statement.</p>
	</div>


<!-- THEORY PERSONALITY -->
<% } else if (section === 'theoryPER') { %>
	<div class="alert alert-info">
		<p>Using the scale below, please indicate the extent to which you agree or disagree with each of the following statements by writing the number that corresponds to your opinion in the space next to each statement.</p>
	</div>


<!-- CONFIDENCE (Single Merged Unit is fine.) -->
<% } else if (section === 'confidence') { %>
	<div class="alert alert-info">
		<p>Select the statement that is most true for you.</p>
		<p>Then, show how true the statement you chose is for you.</p>
	</div>


<!-- GOALS -->
<% } else if (section === 'goals') { %>
	<div class="alert alert-info">
		<p>Please rate how much you agree or disagree with the following statements below.</p>
	</div>


<!-- BACKGROUND -->
<% } else if (section === 'background') { %>
	<div class="alert alert-info">
		<p>Please rate how knowledgable and interested you are in the following domains of learning, and technology &amp; design.</p>
	</div>

<!-- DEFAULT -->
<% } else { %>
	<div class="alert alert-info">
		<p>Please answer each of the following items below.</p>
	</div>
<% } %>

</div>