<!-- <pre>
id: <%= objectId %>
group: <%= group %>
category: <%= category.toString() %>
</pre> -->

<!-- START LINKED -->
<% if (type === 'linked') { %>

	<div class="primary">

		<!-- Question Title -->
		<div class="title"><%= primary.question %></div>

		<!-- MULTICHOICE -->
		<% if (primary.type === 'multichoice') { %>
			
			<ul class="list-unstyled multichoice">
				<% _.each(primary.responses, function(response, index) { %>
					<li>
						<label>
							<input type="radio" name="<%= name + '-1' %>" value="<%= primary.codes[index] %>">
							<%= response %>
						</label>
					</li>
				<% }); %>
			</ul>

		<!-- LIKERT -->
		<% } else if (primary.type === 'likert') { %>
		
			<ul class="list-inline likert">
				<% _.each(primary.responses, function(response, index) { %>
					<label>
						<li>
							<div>
								<%= response %>	
							</div>
							<div>
								<input type="radio" name="<%= name %>" value="<%= primary.codes[index] %>">
							</div>
						</li>
					</label>
				<% }); %>
			</ul>

		<!-- Open -->
		<% } else { %>

			<!-- ... -->

		<% } %>
	</div>

	<!-- SECONDARY -->
	<div class="secondary hidden">

		<!-- Question Title -->
		<div class="title"><%= secondary.question %></div>

		<!-- MULTICHOICE -->
		<% if (secondary.type === 'multichoice') { %>
			
			<ul class="list-unstyled">
				<% _.each(secondary.responses, function(response, index) { %>
					<li>
						<label>
							<input type="radio" name="<%= name %>" value="<%= secondary.codes[index] %>">
							<%= response %>
						</label>
					</li>
				<% }); %>
			</ul>

		<!-- LIKERT -->
		<% } else if (secondary.type === 'likert') { %>
		
			<ul class="list-inline likert">
				<% _.each(secondary.responses, function(response, index) { %>
					<label>
						<li>
							<div>
								<%= response %>	
							</div>
							<div>
								<input type="radio" name="<%= name %>" value="<%= secondary.codes[index] %>">	
							</div>
						</li>
					</label>
				<% }); %>
			</ul>

		<% } %>

	</div>

<!-- END LINKED -->
<% } else if (type === 'connect') { %>
	
	<!-- HIDDEN VALUE -->
	<input type="hidden" name="<%= name %>">
<!-- 	<div class="primary">
		<p>CONNECT <%= name %> INPUT HIDDEN</p>
	</div> -->



<!-- STANDARD -->
<% } else { %>

	<div class="primary">

		<!-- Question Title -->
		<div class="title"><%= primary.question %></div>

		<!-- MULTICHOICE -->
		<% if (primary.type === 'multichoice') { %>
			
			<ul class="list-unstyled multichoice">
				<% _.each(primary.responses, function(response, index) { %>
					<li>
						<label>
							<input type="radio" name="<%= name %>" value="<%= primary.codes[index] %>">
							<%= response %>
						</label>
					</li>
				<% }); %>
			</ul>

		<!-- LIKERT -->
		<% } else if (primary.type === 'likert') { %>
		
			<ul class="list-inline likert">
				<% _.each(primary.responses, function(response, index) { %>
					<label>
						<li>
							<div>
								<input type="radio" name="<%= name %>" value="<%= primary.codes[index] %>">	
							</div>
							<%= response.replace(/\n/g, '<br>') %>
						</li>
					</label>
				<% }); %>
			</ul>

		<!-- SPECIAL VIEW for SELECT -->
		<% } else if (primary.type === 'connect') { %>
		
		<!-- SOMETHING -->

		<% } else if (primary.type === 'open') { %>
			
			<form>
				<div class="form-group">
					<textarea class="form-control" name="<%= name %>" rows="6" placeholder="Please explain briefly"></textarea>
				</div>
			</form>
			

		<% } %>

	<!-- END PRIMARY (NON-LINKED) -->
	</div>

<% } %>