<div class="modal-header">
	<h4><%= title %></h4>
</div>
<div class="modal-body yurt-container">

	<% if (type === 'multiSet') { %>

			<div class="yurt-header">

				<p>Please select the panelist you want on your discussion and one panelist to exclude (block) from your discussion.</p>

			</div>

			<!-- ALERT -->
			<div class="alert alert-danger hidden"></div>

			<div class="yurt-body split">
				<div class="row-header">
					<div class="left">
						<div>PANELISTS</div>
					</div>
					<div class="right">
						<div class="col-A">SELECT</div>
						<div class="col-B">BLOCK</div>
					</div>
				</div>

				<% _.each(panelists, function(panelist) { %>

					<div class="row-user">
						<div class="left user">
							<div>
								<span class="userIcon icon-color-<%= panelist.color %>"><%= panelist.initials %></span>
							</div>
							<div>
								<span class="name"><%= panelist.first %> <%= panelist.last %></span>
							</div>
						</div>
						<div class="right selection">
							<div>
								<a data-target="#"><i class="fa fa-2x fa-square-o" data-action="selected" data-code="<%= panelist.code %>"></i></a>
							</div>
							<div>
								<a data-target="#"><i class="fa fa-2x fa-square-o" data-action="blocked" data-code="<%= panelist.code %>"></i></a>
							</div>
						</div>
					</div>

				<% }); %>

			</div>

			<div id="questionItems"></div>


	<!-- SINGLE QUESTION -->
	<% } else if (type === 'singleSet') { %>

			<% if (selected || blocked) { %>

				<div class="yurt-body">
					<div class="row">
						<div class="col-md-12">

							<div id="referenceInfo" class="referenceInfo">
								<!-- REFERENCE INFO -->
								<% if (selected) { %>

									<div class="currentSelected">
										<span class="userIcon mini icon-color-<%= selected.color %>"><%= selected.initials %></span>&nbsp; <span class="name"><%= selected.first + ' ' + selected.last %></span>
										<span>is <em>selected</em> for your panel.</span>
									</div>

								<% } else if (blocked) { %>

									<div class="currentSelected">
										<!-- <strong>Currently BLOCKED:</strong>&nbsp; -->
										<span class="userIcon mini icon-color-<%= blocked.color %>"><%= blocked.initials %></span>&nbsp; <span class="name"><%= blocked.first + ' ' + blocked.last %></span>
										<span>is <em>blocked</em> from your panel.</span>
									</div>

								<% } %>
							</div>
							
							<!-- ALERT -->
							<div class="alert alert-danger hidden"></div>

							<div id="questionItems">
								<!-- QUESTION -->
							</div>
						</div>
					</div>
				</div>

			<% } %>
		
	<% } else if (type === 'struggle') { %>

		

			<div class="yurt-header">

				<p>Some updated information is now available.</p>
				<p>Please read the extra information about the panelists.</p>

			</div>

			<!-- ALERT -->
			<div class="alert alert-danger hidden"></div>

			<div class="yurt-body split struggle">
				<div class="row-header">
					<div class="left border-color-<%= panelists[0].color %>">
						<div>PANELISTS</div>
					</div>
					<div class="right border-color-<%= panelists[0].color %>">
						<div class="col-A"><span class="struggleName"><%= panelists[0].first.concat("'s").replace(/(s')s|(z')s/g, "$1$2") %></span> Struggle</div>
					</div>
				</div>
				
				<div class="row-body">
					<!-- USER ROW -->
					<div class="left border-color-<%= panelists[0].color %>"> 
						<% _.each(panelists, function(panelist, index, list) { %>
							<div class="user <%= (index === 0) ? 'active' : '' %> icon-color-<%= panelist.color %>" data-toggle="tab" data-target="#<%= panelist.code %>" data-code="<%= panelist.code %>" data-color="<%= panelist.color %>" data-first="<%= panelist.first %>">
								<span class="userIcon icon-color-<%= panelist.color %>"><%= panelist.initials %></span>
								<a class="name" data-target="#"><%= panelist.first %> <%= panelist.last %></a>
							</div>
						<% }); %>
					</div>
					<div class="right border-color-<%= panelists[0].color %>">
						<div class="tab-content">
							<% _.each(panelists, function(panelist, index, list) { %>
								<div role="tabpanel" class="tab-pane <%= (index === 0) ? 'active' : '' %>" id="<%= panelist.code %>"><p><%= panelist.struggle %></p></div>
							<% }); %>
						</div>
					</div>
				</div>

			</div>
	
	<% } %>

</div>
<div class="modal-footer">
	<button id="returnToApp" type="button" class="btn btn-default cancel-question pull-left">Return to App</button>
	<!-- <button type="button" class="btn btn-warning test">Test</button> -->
	<button type="button" class="btn btn-primary back-question"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</button>
	<button type="button" class="btn btn-primary next-question">Next&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
</div>


