<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<!-- NAVIGATION SOCIAL APP -->
		<div class="socialNav">
			<div class="userIcon"></div>
			<span class="title text-center"><%= subject %> Conversation</span>
		</div>

		<!-- PROFILE -->
		<div id="profile" class="hidden">

			<ul id="profileTabs" class="nav nav-tabs nav-justified profileTabs">
				<li class="active">
					<a data-target="#pitch" data-section="pitch" data-context="social">App Pitch</a>
				</li>
				<li>
					<a data-target="#personal" data-section="personal" data-context="social">Personal</a>
				</li>
				<li>
					<a data-target="#knowledge" data-section="knowledge" data-context="social">Knowledge</a>
				</li>
			</ul>

			<div class="yurt-container">
				<div class="yurt-body">
					<div class="tab-content">
						<div id="pitch" role="tabpanel" class="tab-pane active">
							<p></p>
						</div>
						<div id="personal" role="tabpanel" class="tab-pane">
							<p></p>
						</div>
						<div id="knowledge" role="tabpanel" class="tab-pane" >
							<p></p>
						</div>
					</div>
				</div>
			</div>

			<div class="socialBack">
				<a data-section="conversation"><i class="fa fa-arrow-circle-left"></i>Back to Conversation</a>
			</div>

		</div>
		
		<!-- CONVERSATION -->
		<div id="conversation">
			<div class="yurt-container">
				<div class="yurt-header">
					<h2>App Pitch</h2>
				</div>
				<div class="yurt-body pitch">
					<p><%= pitch %></p>
				</div>
			</div>
			<div class="yurt-container">
				<div class="yurt-header">
					<h2>Panelist Discussion</h2>
				</div>
				<div class="yurt-body">
					<!-- CONTAINER -->
					<div id="posts" class="posts">
						<!-- Posts go HERE -->
					</div>
					<form id="editor">
						<div class="form-group">
							<h4>Post Message</h4>
							<!-- <textarea id="commentInput" class="form-control" rows="7" placeholder="You can't post a new message on someone else's conversation. But you can comment on individual posts by clicking 'reply' above." disabled></textarea> -->
							<textarea id="commentInput" class="form-control" rows="7" placeholder="Posting messages is reserved for participant and panelists. To comment, please reply to individual posts above." disabled></textarea>
						</div>
						<div class="form-group clearfix">
							<button id="submit-comment" type="button" class="btn btn-lg btn-primary pull-right" disabled>Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Profile Editor Here -->
		<div id="selfProfile" class="hidden">
			<!-- #myProfile goes here -->

			<div class="socialBack">
				<a data-section="conversation"><i class="fa fa-arrow-circle-left"></i>Back to Conversation</a>
			</div>
		</div>

		<!-- SELECTION MODAL -->
		<div id="selection" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- STUFF -->
				</div>
			</div>
		</div>

		<!-- RESEARCH NAVIGATION -->
		<div class="researchNav">
			<div class="heading">Ready to select panelists?</div>
			<div class="body">
				<ol>
					<li>Read the previous subject's conversation</li>
					<!-- <li>Check out the panelist profiles</li> -->
					<li>Read the panelist profiles</li>
					<li>Decide which panelist to select (send a request)<br>and which to block</li>
					<li>Once you proceed, you cannot change your pitch &amp; profile</li>
					<li>Proceed when you are ready to select your panelists</li>
				</ol>
			</div>
			<div class="actions clearfix">
				<button data-section="self-profile" type="button" class="btn btn-default">My Profile&nbsp;&nbsp;<span class="fa fa-pencil"></span></button>
				<div class="pull-right">
					<button id="help" type="button" class="btn btn-info">Help&nbsp;&nbsp;<span class="fa fa-question-circle"></span></button>
					<button id="next" class="btn btn-success">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
				</div>

			</div>
		</div>

	</div>
</div>