<div class="row">
	<div class="col-md-12">
		<p class="lead">Read the previous subject's conversation</p>
		<p>In this section you'll have a chance to explore a real example of what the conversation will be like. The following is the <em>previous</em> research <!-- participant's -->subject's conversation with his/her technology &amp; design panelists. You can read the conversation, the participant's pitch, users' profiles, and interact with the individuals in this conversation through the app interface.</p>
		<br>

<!-- 		<div class="alert alert-warning">
			<i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;<strong>Important</strong>&nbsp;&nbsp;While the conversation is (probably) not "live" &mdash; <em>it is still currently active</em>. Comments &amp; votes that you create will be publicly available to other app users. As such, while we encourage you to respond genuinely and without censorship, please refrain from "spamming" the system. Example: "This is a test. Testing - 123asdfjkl." etc.
		</div>
		<br> -->

		<p class="lead">Select a panelist for your conversation (a request will be sent)</p>
		<p>While reading the previous conversation, <strong>select one panelist</strong> from this conversation to invite them to join your discussion. This panelist will be sent a request/invite to join your conversation. The selected panelist will review your pitch &amp; profile before deciding whether to accept or reject the request.</p>
		<br>

		<p class="lead">Block a Panelist from your conversation</p>
		<p>While reading the previous conversation, <strong>block one panelist</strong> and prevent them from participating in your conversation. Blocked panelists will not receive any notification of being blocked. They will not be able to see your pitch, profile, and other information.</p>
		<br>

		<p class="lead">Updating your Pitch &amp; Profile (before proceeding)</p>
		<p>You can update your pitch &amp; profile during this section. Once you are ready to select and block panelists, proceed to the next section. <strong>Note that once you proceed, your pitch and profile will no longer be editable.</strong></p>
<!-- 		<p>Therefore, while you read the conversation, profiles, and interact in this discussion, keep in mind that before you proceed you should have two panelists in mind: A) one to <em>select</em> and B) one to <em>block</em>.</p> -->
		<br>
		<br>

	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<div class="lead">Application Interface</div>
		<div class="thumbnail">
			<!-- <img src="../images/modal_2.png"> -->
			<img src="../images/exampleUI.png">
			<div class="caption">
				<br>
				<dl class="dl-horizontal well well-sm">
					<dt>View User Profile</dt>
					<dd><i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Click the <em>User's Name</em></dd>
					<dt>Up or Downvote Post</dt>
					<dd><i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Click the <i class="fa fa-thumbs-o-up fa-flip-horizontal"></i> or <i class="fa fa-thumbs-o-down"></i></dd>
					<dt>Comment on Post</dt>
					<dd><i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Click on <em>Comment</em></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="lead">Other Actions</div>
		<div class="alert alert-info">
			<h5><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;TIPS:</h5>
			<ul>
				<li>Click the <span class="label label-basic">My Profile <i class="fa fa-pencil"></i></span> button in the <em>lower-right</em> corner to edit your profile.</li>
				<li>Click the <span class="label label-info">Help <i class="fa fa-question-circle"></i></span> button in the <em>lower-right</em> corner to see this dialog again.</li>
				<li>Click the <span class="label label-success">Proceed <i class="fa fa-arrow-circle-right"></i></span> button when you are ready to <em>select</em> and <em>block</em> your panelists</li>
			</ul>
			<br>
		</div>
	</div>
</div>