<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="yurt-container">
			<div class="yurt-header">
				<h2 class="page-heading">Survey: <%= battery %></h2>
				<div class="page-instructions">
					<!-- Instructions Here -->
				</div>
			</div>
			<div class="yurt-body">
				<div id="questions">
					<div class="text-center text-muted" style="font-size:1.6em;">
						<p><span id="loadingQs"><i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Loading Questions</span></p>
					</div>
				</div>
			</div>
			<div class="yurt-footer">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group btn-group-lg" role="group">
								<button id="showAll" type="button" class="btn btn-default"><i class="fa fa-expand"></i>&nbsp;&nbsp;Show All Items</button>
							</div>
							<div class="btn-group btn-group-lg" role="group">
								<button id="hideCompleted" type="button" class="btn btn-default"><i class="fa fa-compress"></i>&nbsp;&nbsp;Hide Completed Items</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- RESEARCH NAVIGATION -->
		<div class="researchNav">
			<div class="heading">Default</div>
			<div class="body">
				<ol>
					<li>Answer each question</li>
					<li>Proceed to next page when complete</li>
				</ol>
				<div class="progress">
					<div class="progress-bar progress-bar-danger active" role="progressbar" style="min-width: 3em;">
						<span class="percent">0</span>%
					</div>
				</div>
			</div>
			<div class="actions clearfix">
				<div class="pull-right">
					<button id="next" class="btn btn-success">Proceed&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
