hr {
	display: block;
	margin-top: 3em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

.yurt-body {
	> p {
		text-align: left;
		padding: 5px;
	}
	.panel {
		margin-top: 25px;
	}
}

div {
	> h2 {
		text-align: left;
		// padding-top:5px;
	}
}

.researchNav {
	position: fixed;
	background-color: rgba($color-yurt-a, .75);
	z-index: 100;
	padding: 15px;
	border-radius: 8px;
	color: white;
	bottom: 15px;
	right: 15px;
	@include transition-property(bottom);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-in);
	&.atBottom {
		bottom: calc(100% - 330px);
	}
	.heading {
		font-size: 18px;
		border-bottom: 1px solid #FFF;
		padding-bottom: 10px;
	}
	.body {
		margin: 10px 0 15px;
		ol {
			padding-left: 25px;
			padding-right: 15px;
		}
	}
	.actions {
		// text-align: right;
		border-top: 1px solid #FFF;
		padding-top: 10px;
	}
}
