.outcome {
	.question {
		border: none;
		background-color: transparent;
	}

	#questionItem {
		margin: 45px 0;
	}
}

// @mixin jinTransition($rules) {
// 	-webkit-transition: $rules;
// 	transition: $rules;
// }

#testDiv {
	color: blue;
	// @include jinTransition(all 2s ease);
	@include transition(all 10s ease-in);
}