.post {
	background-color: #F5F5F5;

	a {
		cursor: pointer;
	}

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	.info {
		background-color: #E5E5E5;

		.userIcon {
			margin-right: 15px;
		}

		.name {
			line-height: 40px;
			font-weight: bolder;
			display: inline-block;
			// margin-right: 10px;
			margin-right: 8px;
			vertical-align: top;
		}

		.actions {
			line-height: 40px;
		}

		.active {
			&[data-valence="up"] {
				color: $brand-success;
			}
			&[data-valence="down"] {
				color: $brand-danger;
			}
		}
		.inactive {
			color: silver;
		}
	}

	.message {
		font-size: 16px;
		margin: 15px 75px 15px 55px;
	}
	.comments:not(:empty) {
		border-top: 1px solid #DDD;
		margin: 15px 75px 15px 55px;
	}
	.comment:first-child {
		margin-top: 10px;
		border-radius: 6px 6px 0 0;
	}
	.comment:last-child {
		border-radius: 0 0 6px 6px;
	}
	.comment {
		font-size: 12px;
		padding: 5px 15px;
		background-color: #FFFFFF;
		margin-left: 45px;
		line-height: 1.5em;

		a {
			font-weight: bolder;
			margin-right: 15px;
		}

		.comment-content {
			width: 92%;
		}
		.comment-actions {
			color: silver;

			.fa {
				cursor: pointer;
			}
			.fa-remove:hover {
				color: $color-yurt-c;
			}
		}
	}
	.comment:not(:last-child) {
		margin-bottom: 2px;
	}

	.editor {
		margin: 15px 15px 15px 50px;
	}

	.actions {
		// padding: 0 15px 10px 55px;
		padding: 0 15px 13px 55px;

		text-align: right;

		.cancel {
			margin-right: 10px;
		}
	}
}


.socialNav {
	.title {
		.yurt-label {
			// background-color: #FFFFFF;
			// color: #333333;
			padding: .2em .6em .3em;
			font-size: 16px;
			vertical-align: top;
			border-radius: 4px;
			height: auto;
			display: inline;
		}
		.yurt-label-bordered {
			border: 1px solid #DDD;
		}
	}
}
.yurt-label {
	color: #FFFFFF;
	padding: .1em .6em 0;
	border-radius: 3px;
	display: inline-block;
	font-size: 11px;
	height: 18px;
	margin-top: 11px;
	vertical-align: top;
	font-weight: bolder;

	&.yurt-label-participant {
		background-color: #F5F5F5;
		color: #333;
	}
	&.yurt-label-panelist {
		background-color: #FFF;
		color: #333;
	}
}