div.qSection {
	margin-top: 35px;

	.userReference {
		/*margin: 10px 0px 10px 0px;*/
		
		border-bottom: solid 1px #aaa;
		padding: 0 0 15px 0;
		margin-bottom: 15px;
	}
	&:first-of-type {
		margin-top: 0px;
	}
}

.sectionContent {
	> p {
		margin: 0px;
	}
}
