#selection {
	.split i {
		cursor: pointer;

		&.fa-check {
			color: $brand-success;
		}
		&.fa-close {
			color: $brand-danger;
		}
	}

.yurt-body.split.struggle {
	> div {
		> .left, > .right {
			&.border-color-1 {
				border-color: lighten($color-yurt-a, 25%);
			}
			&.border-color-2 {
				border-color: lighten($color-yurt-b, 25%);
			}
			&.border-color-3 {
				border-color: lighten($color-yurt-c, 25%);
			}
			&.border-color-4 {
				border-color: lighten($color-yurt-d, 15%);
			}
			&.border-color-5 {
				border-color: lighten($color-yurt-e, 25%);
			}
			&.border-color-6 {
				border-color: lighten($color-yurt-f, 25%);
			}
			&.border-color-7 {
				border-color: lighten($color-yurt-g, 25%);
			}
			&.border-color-8 {
				border-color: lighten($color-yurt-h, 25%);
			}
			&.border-color-9 {
				border-color: lighten($color-yurt-i, 25%);
			}
		}
	}
}

	.struggle {
		.user	{
			text-align: left;
			cursor: pointer;

			&:not(:last-child) {
				margin-bottom: 30px;
			}

			&.icon-color-1,
			&.icon-color-2,
			&.icon-color-3,
			&.icon-color-4,
			&.icon-color-5,
			&.icon-color-6,
			&.icon-color-7,
			&.icon-color-8,
			&.icon-color-9 {

				&:not(.active) {
					background-color: #FFF;

					&:hover {
						background-color: #EEE;

						a:hover {
							text-decoration: none;
						}
					}
				}
				
				&.active {
					a {
						color: inherit;
					}
				}
			}

			&.icon-color-1.active {
				background-color: lighten($color-yurt-a, 25%);
			}
			&.icon-color-2.active {
				background-color: lighten($color-yurt-b, 25%);
			}
			&.icon-color-3.active {
				background-color: lighten($color-yurt-c, 25%);
			}
			&.icon-color-4.active {
				background-color: lighten($color-yurt-d, 15%);
			}
			&.icon-color-5.active {
				background-color: lighten($color-yurt-e, 25%);
			}
			&.icon-color-6.active {
				background-color: lighten($color-yurt-f, 25%);
			}
			&.icon-color-7.active {
				background-color: lighten($color-yurt-g, 25%);
			}
			&.icon-color-8.active {
				background-color: lighten($color-yurt-h, 25%);
			}
			&.icon-color-9.active {
				background-color: lighten($color-yurt-i, 25%);
			}
		}

		@media (min-width: $screen-xs-min) {
			.user {
				margin-left: 10%;
			}
		}
		@media (min-width: $screen-sm-min) {
			.user {
				margin-left: 15%;
			}
		}
		a {
			cursor: pointer;
		}

		.tab-pane {
			font-size: 14px;
			line-height: 1.5em;
			text-align: left;
			padding: 0 15px;
		}
	}

	.referenceInfo {
		margin: 0 0 15px 0;
	}
	.currentSelected {
		margin: 5px 0 0 15px;
		font-size: 16px;
	}
	.yurt-header {
		p { 
			// font-size: 1.25em;
		}
	}
	.yurt-header:not(:first-child) {
		margin: 25px 15px 10px;
	}
}

