$nav-height: 50px;

#social, #profileMake {
	
	padding-top: $nav-height;

	#posts {
		margin-bottom: 30px;
	}

	// &.page {
	// 	margin-bottom: 241px;
	// }

	.socialNav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: $nav-height;
		line-height: $nav-height;
		margin-top: $nav-height;
		// background-color: lighten($color-yurt-a, 10%);
		background-color: #f2f2f2;
		// color: $color-yurt-b;
		color: #337ab7;
		padding: 0 15px;
		text-align: center;
		z-index: 198;
		// box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.35);
		box-shadow: $yurt-box-shadow;

		.userIcon {
			height: 50px;
			width: 50px;
			line-height: 50px;
			position: absolute;
			left: 0;
		}

		.title {
			font-size: 28px;
			font-weight: bolder;
		}

		.btn-left, .btn-right {
			position: absolute;
			height: $nav-height;
			width: 200px;
			background-color: $color-yurt-b;
			color: $color-yurt-a;
		}
		.btn-left {
			left: 0;
		}
		.btn-right {
			right: 0;
		}
	}

// researchNav

	.socialBack {
		font-size: 28px;
		font-weight: bolder;
		margin: $nav-height 0;

		a {
			color:#eee;
			cursor: pointer;
		}

		a:hover {
			color:#c8c8c8;
		}

		i {
			margin-right: 15px;
		}
	}

	#profile p, #conversation .pitch > p {
		font-size: 16px;
		line-height: 2em;
	}
}

// carousel
// <div class="carousel-indicators">
//   <div class="">
// 	<div class="active"></div>
//   </div>
// </div>
// <div class="carousel-indicators active">
//   <div class=""></div>
// </div>

// .carousel-indicators .active
// .carousel-indicators.active

.carousel-indicators {
	bottom:-15px;
	// background-color: #eee;

	li {
		border: 1px solid #aaa;

		&.active {
			background-color: #aaa;
		}
	}
}
