// YURT related... goes into base/yurt-container?
.yurt-body-split {
	margin: 0px auto;
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	flex-direction: row;

	> .storyList {
			width: 50%;
			padding:10px;
			text-align: left;
		}

	> .nameList {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		margin: 0;
		width: 50%;
		border-right:3px solid #eee;
		text-align: center;

		> li {
			background-color: #F5F5F5;
			margin-bottom: 20px;
		}
	}
}