.subnavbar {
	.top, .bottom {
		background-color: rgba($color-yurt-b, 0.85);
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 21px;
		position: fixed;
		width: 100%;
		@include transition-property(top,bottom);
		@include transition-duration(.15s);
		@include transition-timing-function(ease-in);
	}


	.top {
		top: 0px;
		&.active {
			top: 50px;
		}
	}
	.bottom {
		height: 80px;
		line-height: 80px;
		bottom: -80px;
		z-index: 100;
		&.active {
			bottom: 0px;
		}
	}

	.back, .next {
		padding: 0 25px 0 15px;
		background-color: $color-yurt-a;
		color: #FFF;
		position: absolute;
		width: 160px;
	}
	.next {
		padding: 0 15px 0 25px;
		right: 0;
	}
}