// QuestionView ROOT className
.question {
	margin-bottom: 15px;
	border: 1px solid #DDD;
	background-color: #F5F5F5;
	padding: 15px;
	border-radius: 6px;

	&.linked {
		// border-color: red;
	}

	.title {
		font-size: 18px;
		font-weight: bolder;
		margin-bottom: 15px;
	}

	.secondary {
		margin-top: 20px;
	}

	// @include transition(opacity, .25s, ease-in-out);

	// &.answered:not(:hover) {
	// 	opacity: .5;
	// }

	.tooltip-inner {
		background-color: $color-yurt-c;
	}
	.tooltip.left .tooltip-arrow {
		border-left-color: $color-yurt-c;
	}

	label {
		font-weight: normal;
		cursor: pointer;
	}
}


// For LIKERT scales
ul.likert {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	> label {
		// cursor: pointer;
		display: block;
		background-color: #F3F3F3;
		text-align: center;
		padding: 10px 5px;
		width: 100%;
		background-color: #FFFFFF;
		border-radius: 4px;

		&:hover {
			background-color: $color-yurt-b;
		}
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	input {
		margin-bottom: .45em;
	}
}

// For MULTICHOICE
ul.multichoice {
	margin-left: 30px;
	margin-bottom: 0;

	li {
		// padding: 5px 0;
	}

	input[type="radio"] {
		margin-right: 5px;
	}
}
