$someColorVariable: #EEE;

#profileTabs, #self-profileTabs {

	&.nav-tabs-justified {
		border-bottom: 0;

		> li > a {
			// Override margin from .nav-tabs
			// margin-right: 0;
			// border-radius: $border-radius-base;
			font-size: 21px;
			background-color: darken($someColorVariable, 15%);
			border: none;
			cursor: pointer;
		}

		> .active > a,
		> .active > a:hover,
		> .active > a:focus {
			// border: 1px solid $nav-tabs-justified-link-border-color;
			background-color: $someColorVariable;
		}

		@media (min-width: $screen-sm-min) {
			> li > a {
				font-size: 18px;
				// border-bottom: 1px solid $nav-tabs-justified-link-border-color;
				// border-radius: $border-radius-base $border-radius-base 0 0;
			}

			> li:not(:last-child) > a {
				margin-right: 10px;
			}

			> .active > a,
			> .active > a:hover,
			> .active > a:focus {
				// border-bottom-color: $nav-tabs-justified-active-link-border-color;
			}
		}
	}
}