// User ICONs
.userIcon {
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	font-size: 16px;
	font-weight: bolder;
	display: inline-block;

	&.mini {
		line-height: 25px;
		height: 25px;
		width: 25px;
		font-size: 12px;
	}
}

// COLOR SCHEMES
// Probably should abstract this to variables
.icon-color-1 {
	background-color: $color-yurt-a;
	color: $color-yurt-b;
}
.icon-color-2 {
	background-color: $color-yurt-b;
	color: $color-yurt-c;
}
.icon-color-3 {
	background-color: $color-yurt-c;
	color: $color-yurt-a;
}
.icon-color-4 {
	background-color: $color-yurt-d;
	color: $color-yurt-e;
}
.icon-color-5 {
	background-color: $color-yurt-e;
	color: $color-yurt-f;
}
.icon-color-6 {
	background-color: $color-yurt-f;
	color: $color-yurt-d;
}
.icon-color-7 {
	background-color: $color-yurt-g;
	color: $color-yurt-h;
}
.icon-color-8 {
	background-color: $color-yurt-h;
	color: $color-yurt-g;
}
.icon-color-9 {
	background-color: $color-yurt-i;
	color: $color-yurt-j;
}
.icon-color-0 {
	background-color: $color-yurt-j;
	color: $color-yurt-i;
}