<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta name="sessionToken" content="<%= sessionToken %>">
	<meta name="username" content="<%= username %>">
	<meta name="configuration" content="<%= configuration %>">

	<title>YURT: Research</title>

	<!-- SASS: Bootstrap & Fontawesome -->
	<link rel="stylesheet" href="css/research/styles.css">

	<!-- REQUIREJS Entry point -->
	<script data-main="src/research/main.js" src="lib/require.js"></script>
</head>

<body id="research">

	<!-- NAVBAR -->
	<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<div class="brand-sprite y-brand-<%= version %>"></div>
				</a>
				<p class="navbar-text system-msg fade in"><i class="fa fa-refresh fa-spin"></i>&nbsp; Syncing App</p>
			</div>

			<!-- COLLAPSABLE NAV THINGS -->
			<div id="navbar-collapse" class="collapse navbar-collapse">
				
<!-- 				<ul class="nav navbar-nav">					
					<li class="active"><a href="#"><i class="fa fa-edit"></i>&nbsp;&nbsp;My Profile &amp; Pitch</a></li>
				</ul> -->

				<!-- LOGOUT FORM -->
				<form class="navbar-form navbar-right">

					<!-- Help button -->
<!-- 					<button id="help" type='button' class="btn btn-info hidden">HELP&nbsp;&nbsp;<span class="fa fa-question-circle"></span></button> -->
				
					<!-- Single button -->
					<div class="btn-group">
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							QUIT&nbsp;&nbsp;<i class="fa fa-caret-down"></i><!-- <span class="caret"></span> -->
						</button>
						<ul id="quitMenu" class="dropdown-menu" role="menu">
							<h5>Are you feeling okay?</h5>
							<p>If you are quitting due to anxiety, stress, or discomfort over the <em>pending conversation</em>, you can opt to continue the study without the conversation portion. All of your data including your pitch and profile will remain private.</p>
							<p>Or to quit this study, confirm by clicking the "Quit Study" option below.</p>
							<li class="divider"></li>
							<li><a id="resume" href=""><i class="fa fa-fw fa-arrow-right"></i> Resume Full Study</a></li>
							<li><a id="noConvo" href=""><i class="fa fa-fw fa-arrow-right"></i> Continue w/o Conversation Portion</a></li>
							<li><a id="quitBtn" href="/quit"><span class="text-danger"><i class="fa fa-fw fa-warning"></i> Quit Study</span></a></li>
						</ul>
					</div>

				</form>
				<p class="navbar-text navbar-right">Signed in as <span id="firstName"></span> <span id="lastName"></span> [ <strong id="username"><%= username %></strong> ]</p>

			</div>
		</div>
	</nav>

	<!-- START #app / Application -->
	<div id="app" class="container">

	<!-- END #app -->
	</div>

	<div id="modal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- CONTENT here -->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>

</html>