// ICON COLOR VARIABLES
// $color-yurt-a: #333366;	// cogmos dark blue
// $color-yurt-b: #66CCCC;	// cogmos light blue
// $color-yurt-c: #FF3333;	// cogmos red
// $color-yurt-d: #CCCC99;	// beige
// $color-yurt-e: #00CC99;	// aqua
// $color-yurt-f: #993333;	// brown
// $color-yurt-g: #336699;	// swedish blue
// $color-yurt-h: #FFCC00; // swedish yellow
// $color-yurt-i: #333333; // charcoal
// $color-yurt-j: #FFFFFF; // white

