// .contents-box {
// 	// margin: 0px auto;
// 	// width: 600px;
// 	// height: 475px;
// 	background-color: #EEE;
// 	text-align: center;
// @keyframes animatedBackground {
// 	from { background-position: 0 0; }
// 	to { background-position: 135px 94.5px; }
// }


@include keyframes (animatedBackground) {
	from { background-position: 0 0; }
	to { background-position: 135px 94.5px; }
}

body {
	font-family: 'Lato', Arial, sans-serif;
	width: 100%;
	background-image: url(/images/bg.png);
	background-position: 0px 0px;
	background-repeat: repeat;

	// COMMENTED OUT FOR TESTING
	// animation: animatedBackground 4s linear infinite;
	@include animation(animatedBackground 4s linear infinite);
}

.bodyfix{
	height: 100%;
}

.scrollable {
	height: 600px;
	padding-bottom: 15px;

	> .container-fluid {
		height: 100%;
		overflow-y: scroll;
		border: 1px solid #F5F5F5;
	}

	h4 {
		margin-top: 30px;
	}
}

.layer-under {
	margin-bottom: 50px;

	.yurt-container.jumbo {
		border-radius: 6px;
		background-color: rgba(255, 255, 255, .5);
		box-shadow: inset 0 0 1em white, 0 0 1em rgba(0, 0, 0, .3);
		padding: 20px 20px 60px 20px;

		h1 {
			padding-top: 15px;
			line-height: 80px;
			font-size: 68px;
			color:#fff;
			text-align: center;
			font-family: 'Lato', Arial, sans-serif;
			font-weight: 300;
			text-shadow: 0 0 .1em rgba(0, 0, 0, .3);
		}

		span {
			font-size: 110px;
			text-align: center;
			font-weight: 900;
			text-shadow: 0 0 .1em rgba(0, 0, 0, .3);
		}

		div {
			text-align: center;
			
			p:nth-child(1) {
				font-size: 24px;
				color:$brand-primary;
				margin-bottom: 20px;
			}

			p:nth-child(2){
				margin-right: 10px;
				margin-left: 10px;
				color: $brand-primary;
			}
		}
	}
}

div.layer-over + div.layer-under {
	padding-top: 50px;
}

div.layer-over {
	text-align: center;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.35);

	&.highlight {
		border-radius: 6px;
		padding: 15px 30px;
		background-color: rgba(255, 255, 255, 1);

		.fa-heart {
			color: $color-yurt-c;
		}
	}

	h2 {
		color: #29ABE2;
		margin: 30px 0;
	}
	
	section {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 60px;
		}
	}

	p {
		font-size: 18px;
		color: #5C5C5C;

		&.lead {
			font-weight: bold;
			color: $brand-primary; // Really? Variables?

			span:last-child {
				font-size: 1.2em;
			}
		}
	}

	div.split-line {
		margin: 0 auto;
		margin-top: 15px;
		font-size: 0px;
		width: 150px;
		border-top: solid 5px $brand-primary;

		& + p {
			margin-top: 15px;
			margin-bottom: 30px;
		}
	}
}